.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My Styling */

body {
  background: rgb(47,92,238);
  background: linear-gradient(180deg, rgba(47,92,238,1) 10%, rgba(62,230,226,1) 50%, rgba(47,92,238,1) 90%);
}
.eachBox {
  border: 1px solid white;
  border-radius: 5px;
  background-color: dodgerblue;
  width: 30%;
  margin: 10px auto 10px auto;
}